@model IEnumerable<UsersProducts.ViewModel.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
@if (User.IsInRole("Admin"))
{<p>
        <a asp-action="Create" asp-controller="Home">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProCatId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ProductImage)
                    </td>*@
                <td> <img src="~/images/@item.ProductImage" style="height:70px; width:70px" /></td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProCatId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategory.CategoryName)
                </td>

                @{ if (User.IsInRole("Approver"))
                    {
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = " btn btn-success" })
                        </td>

                    }

                    else if (User.IsInRole("Admin"))
                    {
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = " btn btn-primary " }) |*@
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.ProductId" class="btn btn-primary"> Edit</a>|
                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.ProductId" class="btn btn-success"> Details</a>|
                <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.ProductId" class="btn btn-danger"> Delete</a> 

            </td>
                    }
                }
            </tr>
        }
    </tbody>

</table>

